<nav class="navbar header">
  <div class="container-fluid header-content">
    <div class="navbar-header">
      <div class="logo_title">
        <div><img class="logo" src="../../assets/logo1.png" alt="logo"></div>
        <div>Fancy<b>Retro</b></div>  
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="app_link" routerLink="/">Home</a></li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a class="app_link" routerLink="/boards">Boards</a></li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a class="app_link" routerLink="/register">Register</a></li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a class="app_link" routerLink="/login">Log in</a></li>
        <li *ngIf="isAuthenticated">
          <a class="app_link" (click)="onLogout()">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
