.app-title, li a {
    color: rgb(75, 75, 75);
    line-height: 26px;
    &:hover, &:focus {
        color: #6B4EFF;
        background-color: transparent;
    }
}

p {
    margin: 0;
    line-height: 26px;
    height: 26px;
}

.logouting {
    margin-top: 1px;
    cursor: pointer;
}

.app_link {
    height: 55px;
}

.user_name {
    font-weight: 500;
    padding: 15px;
}

.header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    &-content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .logo_title a {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 24px;
        font-weight: 200;
        .retro {
            font-weight: 500;
        }
        &:hover, &:active, &:visited, &:focus {
            text-decoration: none;    
        }
    }
    .retro_title {
        display: block;
        color: black;
    }
    .logo {
        display: block;
        height: 35px;
        margin-right: 5px;
    }

}
