<footer>
        <div class="footer_wrapper">
            <div class="author_info">
                <p>Created by Anastasiia Lytvynova &copy; 2021  </p>
            </div>
            <div class="author_links">
                <a href="https://github.com/Ananast1a"><i class="fab fa-github-square"></i></a> 
                <a href="https://www.linkedin.com/in/anastasia-lytvynova-1a1283181/"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:lytvynovanasty@gmail.com"><i class="fas fa-at"></i></a>
            </div>
        </div>
</footer>
