.login-holder {
  height: 100vh;
  background-color: #F3F5FE;
  // margin-bottom: 75px;
  // margin-top: 60px;

  .logo_title a {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 200;
    justify-content: center;

    .retro {
      font-weight: 500;
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      text-decoration: none;
    }
  }

  .retro_title {
    display: block;
    color: black;
  }

  .logo {
    display: block;
    height: 35px;
    margin-right: 5px;
  }

  .error {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .login_form {
    margin: 0 auto;
    margin-top: 40px;
    padding: 40px;
    width: 480px;
    height: 460px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    border-radius: 40px;

    input {
      margin-top: 3px;
      padding-left: 12px;
      width: 100%;
      height: 48px;
      border: 1px solid rgba(0, 0, 0, 0.24);
      border-radius: 8px;
    }

    label {
      font-weight: 500;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.87);
    }

    .login_title {
      text-align: center;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.15px;
    }

    .login_email {
      margin-top: 32px;
    }

    .login_pass {
      margin-top: 24px;
    }

    .login_btn {
      margin-top: 32px;
      width: 400px;
      height: 48px;
      background-color: #6B4EFF;
      border-radius: 24px;
      color: white;
      font-size: 16px;
      letter-spacing: 0.25px;
      border: none;

      &:hover {
        background-color: #503ac0;
      }
    }

    .redir {
      margin-top: 32px;
      text-align: center;
      font-size: 16px;
      letter-spacing: 0.25px;

      a {
        color: #6B4EFF;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .spinner {
    margin-top: 40px;
    text-align: center;
  }
}
