<div class="container">
  <form class="btn-wrap" 
  #boardForm="ngForm"
  (ngSubmit)="createColumn()">
    <input class="new-board-name" type="text" placeholder="Type new board name..." maxlength="50" #boardNameInput
    ngModel
    required
    name="board_name">
    <button type="submit" class="add-new-board" [disabled]="!boardForm.valid">Create board</button>
  </form>
  <div class="column-wrapper"
  cdkDropListGroup>
    <app-column class="column" *ngFor="let singleColumn of columns" [column]="singleColumn">
    </app-column>
  </div>
</div>

