  <div class="column">
    <div class="column-header">
      <h4>{{column.title}}</h4> <i class="far fa-trash-alt"
      (click)="toRemoveColumn(this.column)"></i>
    </div>
    <app-tasks *ngFor="let singleTask of column.tasks" [task]="singleTask"></app-tasks>
    <ng-template #adderButton>
      <button class="add-board-item" (click)="toToggleAddingMode(this.column)">
        + Add item
      </button>
    </ng-template>
    <div *ngIf="column.addingItemModeOn; else adderButton" class="add-form">
      <textarea rows="2" cols="45" class="add-task-input" placeholder="Type new item to add..." id="item-content"
        #taskTextInput></textarea>
      <div class="i-wrap">
        <i class="fas fa-check" (click)="toAddTask(this.column)"></i>
        <i class="fas fa-times" (click)="toToggleAddingMode(this.column)"></i>
      </div>
    </div>
  </div>
