  <div class="column">
    <div class="column-header">
      <div class="column-header_title">
        <h4 *ngIf="!editingModeOn">{{column.title}}</h4> 
        <form
        class="edit_form"
        *ngIf="editingModeOn" 
        (ngSubmit)="editTitle()"
        #editTitleForm="ngForm">
          <input 
          class="edit_input"
          type="text"
          name="edited_title"
          required
          [ngModel]="column.title"
          >
          <div class="i-wrap">
          <button type="submit" class="fa-check-btn" [disabled]="!editTitleForm.valid"><i class="fas fa-check"></i></button>
          <i class="fas fa-times" (click)="closeEdit()"></i>
          </div>
        </form>
      </div>
      <div class="column-header_icons" *ngIf="column.creator === user.id">
        <i class="fas fa-pencil-alt"
        (click)="openEdit()"></i>
        <i class="far fa-trash-alt"
        (click)="toRemoveColumn(this.column)"></i>
      </div>
    </div>
    <div
    class="column-task-list"
    cdkDropList
    [cdkDropListData]="this.column.tasks"
    (cdkDropListDropped)="drop($event)"
    >
      <app-tasks *ngFor="let singleTask of column.tasks" [task]="singleTask" 
      cdkDrag
      (taskDeleted)="deleteTask($event)"
      ></app-tasks>
    </div>
    <ng-template #adderButton>
      <button class="add-board-item" (click)="toToggleAddingMode(this.column)">
        + Add item
      </button>
    </ng-template>
    <form *ngIf="column.addingItemModeOn; else adderButton" class="add-form"  
    (ngSubmit)="toAddTask(this.column)"
    #taskForm="ngForm"
    >
      <textarea rows="2" cols="45" 
      class="add-task-input" 
      placeholder="Type new item to add..." 
      id="item-content"
      maxlength="120"
      #taskTextInput
      ngModel
      required
      name="task_text"
      ></textarea>
      <div class="i-wrap">
        <button type="submit" class="fa-check-btn" [disabled]="!taskForm.valid"><i class="fas fa-check"></i></button>
        <i class="fas fa-times" (click)="toToggleAddingMode(this.column)"></i>
      </div>
    </form>
  </div>
