  <div class="column">
    <div class="column-header">
      <h4>{{column.title}}</h4> <i class="far fa-trash-alt"
      (click)="toRemoveColumn(this.column)"></i>
    </div>
    <div
    class="column-task-list"
    cdkDropList
    [cdkDropListData]="this.column.tasks"
    (cdkDropListDropped)="drop($event)"
    >
      <app-tasks *ngFor="let singleTask of column.tasks" [task]="singleTask" 
      cdkDrag></app-tasks>
    </div>
    <ng-template #adderButton>
      <button class="add-board-item" (click)="toToggleAddingMode(this.column)">
        + Add item
      </button>
    </ng-template>
    <form *ngIf="column.addingItemModeOn; else adderButton" class="add-form"  
    (ngSubmit)="toAddTask(this.column)"
    #taskForm="ngForm"
    >
      <textarea rows="2" cols="45" 
      class="add-task-input" 
      placeholder="Type new item to add..." 
      id="item-content"
      maxlength="120"
      #taskTextInput
      ngModel
      required
      name="task_text"
      ></textarea>
      <div class="i-wrap">
        <button type="submit" class="fa-check-btn" [disabled]="!taskForm.valid"><i class="fas fa-check"></i></button>
        <i class="fas fa-times" (click)="toToggleAddingMode(this.column)"></i>
      </div>
      <!-- <p *ngIf="!taskForm.valid && taskForm.touched" class="enter_task"></p> -->
    </form>
  </div>
