<div class="register_holder">
  <div class="container">
    <div class="logo_title">
      <a routerLink="/"><img class="logo" src="../../assets/logo1.png" alt="logo">
       <div class="retro_title">Fancy<span class="retro">Retro</span></div></a>
     </div>
    <div class="alert alert-danger error" *ngIf="error">
      <p>{{error}}</p>
    </div>
    <div *ngIf="isLoading" class="spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmitReg(registerForm)" *ngIf="!isLoading" class="reg_form">
      <div class="reg_title">Registration</div>
      <div class="reg_username">
        <label for="username">Username</label> <br>
        <input type="text" id="username" ngModel name="username" required minlength="3"
        placeholder="Username">
      </div>
      <div class="reg_email">
        <label for="email">Email</label> <br>
        <input type="email" id="email" ngModel name="email" required email
        placeholder="Your email">
      </div>
      <div class="reg_pass">
        <label for="password">Password</label> <br>
        <input type="password" id="password" ngModel name="password" required minlength="6"
        placeholder="Type your password">
        <p>Should contain at least 6 characters</p>
      </div>
      <button class="reg_btn" [disabled]="!registerForm.valid"> Create Account </button>
      <div class="redir"> Already have an account? <a routerLink="/login">Login</a></div>
    </form>
  </div>
</div>
