<div class="register_holder">
  <div class="container">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
    </div>
    <div *ngIf="isLoading" class="spinner">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmitReg(registerForm)" *ngIf="!isLoading">
      <div>
        <label for="username">Username</label> <br>
        <input type="username" id="username" ngModel name="username" required minlength="3">
      </div>
      <div>
        <label for="email">Email</label> <br>
        <input type="email" id="email" ngModel name="email" required email>
      </div>
      <div>
        <label for="password">Password</label> <br>
        <input type="password" id="password" ngModel name="password" required minlength="6">
      </div>
      <br>
      <button class="btn" [disabled]="!registerForm.valid"> Create account </button>
    </form>
  </div>
</div>
