<div class="home-holder">
  <div class="container">
    <div class="home-header">
      <div class="home-header_title">
        <h3>Increase efficiency with creative and fun sprint retrospective tool</h3>
        <a routerLink="/boards"><button class="get_started_btn">Get Started</button></a>
      </div>
      <img src="../../assets/org.jpg" alt="collegues with board">
      <div class="home-header_picture">
      </div>
    </div>
  </div>
  <!-- <div class="home_advantages"> -->
  <!-- </div> -->
</div>
