.home-header {
    position: relative;
    margin-top: 110px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background:
        linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        inear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    &_title {
        margin-top: 70px;
        width: 50%;
        h3 {
            font-size: 36px;
        }
        a {
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
        .get_started_btn {
        margin-top: 20px;
        width: 143px;
        height: 48px;
        border-radius: 24px;
        background-color: #6B4EFF;
        border: none;
        font-size: 16px;
        letter-spacing: 0.25px;
        &:hover {
            background-color: #583fd3;
        }
        }
    }
    &_picture {
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 991px)  {
    .home-header_title h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 769px)  {
    .home-header {
        margin: 0 auto;
        margin-top: 50px;
        max-width: 100%;
        display: block;
        padding: 5px;
        text-align: center;
        width: 420px;
        &_title {
            margin-top: 70px;
            width: 100%;
            h3 {
                font-size: 24px;
            }
            .get_started_btn {
                margin-top: 20px;
            }
        }
    }
    img {
        margin-top: 20px;
        max-width: 100%;
    }
}