<div class="task">
    <button 
    *ngIf="task.creator === user.id"
    mat-icon-button [matMenuTriggerFor]="menu" 
    aria-label="Example icon-button with a menu"
    class="menu_options">
        <mat-icon class="icon_more">more_vert</mat-icon>  
    </button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item>
          <span>Edit</span>
        </button> -->
        <button mat-menu-item (click)="onTaskDelete()">
          <span>Delete</span>
        </button>
      </mat-menu>
{{task.content}}
<div class="task-likes-coms">
    <i class="fa-heart" 
    [ngClass]="{'far' : !isLiked, 'fas' : isLiked}"
    (click)="toAddLike()"></i> 
    {{task.likes.length}} 
    <i class="far fa-comment-alt"
    (click)="toggleCommentsVisibility()"></i> 
    {{task.comments.length}}
</div>
<div class="task-comments"> 
     <div *ngIf="task.commentsVisibility">
        <app-comments 
        (commentDeleted)="deleteComment($event)"
        *ngFor="let currentComment of task.comments"
        [comment]="currentComment">
        </app-comments>
        <form class="add-comment-wrapper"
        (ngSubmit)="toAddComment()"
        #commentForm="ngForm">
            <textarea rows="2" cols="45" class="add-task-input" 
            placeholder="Your comment..." id="comment-content"
            maxlength="120"
            #commentTextInput
            ngModel
            required
            name="comment_text"></textarea>
            <button type="submit" [disabled]="!commentForm.valid"
            class="fa-check-btn"><i class="fas fa-check"></i></button>
        </form>
     </div>
</div>
</div>

